/* Fontes - Text Me One & Roboto */
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Text+Me+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f5;
}

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

#page-cadastro {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}

#page-cadastro header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-cadastro header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-cadastro header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-cadastro form {
  margin: 80px auto;
  padding: 64px;
  max-width: 730px;
  background: #FFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

#page-cadastro form h1 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

#page-cadastro form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#page-cadastro form legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#page-cadastro form legend h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;

}

#page-cadastro form legend span {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: #9F9F9F;
}

#page-cadastro form .field-group {
  flex: 1;
  display: flex;
}

#page-cadastro form .field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-cadastro form .field input[type=text],
#page-cadastro form .field input[type=email],
#page-cadastro form .field input[type=number] {
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-cadastro form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-cadastro form .field input::placeholder {
  color: #A0A0B2;
}

#page-cadastro form .field label {
  font-size: 14px;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  color: #9F9F9F;
}

#page-cadastro form .field :disabled {
  cursor: not-allowed;
}

#page-cadastro form .field-group .field + .field {
  margin-left: 24px;
}

#page-cadastro form .field-group input + input {
  margin-left: 24px;
}

#page-cadastro form .field-check {
  flex-direction: row;
  align-items: center;
}

#page-cadastro form .field-check input[type=checkbox] {
  background: #F0F0F5;
}

#page-cadastro form .field-check label {
  margin: 0 0 0 8px;
}

#page-cadastro form .leaflet-container {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 24px;
}

#page-cadastro form button {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-cadastro form button {
  background: #EFAB01;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style: none;
}

.items-grid li {
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  height: 180px;
  border-radius: 8px;
  padding: 32px 24px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-align: center;

  cursor: pointer;
}

.items-grid li span {
  flex: 1;
  margin-top: 12px;

  display: flex;
  align-items: center;
  /* color: var(--title-color) */
}



@media (max-width: 900px) {
  #page-cadastro header {
    display: flex;
    justify-content: space-around;
  }

  #page-cadastro .field-group {
    flex-direction: column;
  }

  #page-cadastro form .field-group .field + .field {
    margin-left: 0px;
  }
}

@media (max-width: 375px) {
  #page-cadastro header {
    display: flex;
    flex-direction: column;
  }

  #page-cadastro header .header-logo {
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
  }

  #page-cadastro header a {
    cursor: pointer;
    font-family: 'Roboto';
  }

  #page-cadastro header a img {
    height: 25px;
  }

  #page-cadastro form{
    display: flex;
    padding: 30px;
    max-width: 500px !important;
  }

  form #map {
    width: 310px !important;
    height: 200px !important;
  }

  #page-cadastro form legend {
    display: flex;
    flex-direction: column;
  }

  .items-grid {
    display: flex;
    flex-direction: column;
  }

  .items-grid li {
    margin: 5px;
  }
}