/* Fontes - Text Me One & Roboto */
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Text+Me+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}

body {
  background-color: #f0f0f5;
}

.boxImage {
    height: 300px;
    background: #FFE4A0;
    border-radius: 10px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    outline: 0;
  }
  
  .boxImage img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
  } 
  
  .boxImage p {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border-radius: 10px;
    border: 1px dashed #EFAB01;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9F9F9F;
  }
  
  .boxImage p span {
    background: url('img/upload.svg');
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
  }

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: solid 1px #f0f0f5;
  border-radius: 8px;
}
 
#page-cadastro {
  width: 100%;
  max-width: 1100px;

  margin: auto;
}

#page-cadastro header {
  margin-top: 48px;
  margin-left: 5rem;
  margin-right: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
#page-cadastro #principal {
    width: 250px;
} 

#page-cadastro header a {
    color: #000000;
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-cadastro form {
  margin: 80px auto;
  padding: 64px;
  max-width: 730px;
  background: #FFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

#page-cadastro form h1 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

#page-cadastro form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#page-cadastro form legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#page-cadastro form legend h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;

}

#page-cadastro form legend span {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: #9F9F9F;
}

#page-cadastro form .field-group {
  flex: 1;
  display: flex;
}

#page-cadastro form .field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-cadastro form .field input[type=text],
#page-cadastro form .field input[type=email],
#page-cadastro form .field input[type=number] {
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-cadastro form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-cadastro form .field input::placeholder {
  color: #A0A0B2;
}

#page-cadastro form .field label {
  font-size: 14px;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  color: #9F9F9F;
}

#page-cadastro form .field :disabled {
  cursor: not-allowed;
}

#page-cadastro form .field-group .field + .field {
  margin-left: 24px;
}

#page-cadastro form .field-group input + input {
  margin-left: 24px;
}

#page-cadastro form .field-check {
  flex-direction: row;
  align-items: center;
}

#page-cadastro form .field-check input[type=checkbox] {
  background: #F0F0F5;
}

#page-cadastro form .field-check label {
  margin: 0 0 0 8px;
}

#page-cadastro form .leaflet-container {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 24px;
}

#page-cadastro form button {
  width: 260px;
  height: 56px;
  background: #EFAB01;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}


.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  list-style: none;
  max-width: 590px;
  margin: auto;
}

.items-grid img {
    width: 100%;
    height: 150px;
    border-radius: 8px;

}

.items-grid li {
    background: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;

}

@media (min-width: 200px) and (max-width: 900px) { 
  .files00 {
    position: relative;
    top: 5px;
    width: 200px;
    max-width: 100%;
    padding-top: 5px;
  }
    #page-cadastro {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    #page-cadastro header {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        flex-direction: column-reverse;
        margin-right: 1rem;
    }

    legend {
        display: flex;
        flex-direction: column;
    }

    legend span {
        margin-top: 10px;
    }

    #page-cadastro header a {
      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      align-self: flex-end;
      margin-right: 0;
    }

    #page-cadastro #principal {
        margin-top: 20px;
        width: 100%;
        align-self: end;

    }

     #page-cadastro form {
        margin: 15px;
        margin-top: 35px;
        padding: 14px;
      } 

      
#page-cadastro form {
  padding: 20px;
max-width: 730px;

}


      #page-cadastro form h1 {
        font-size: 26px;
      }

      .boxImage {
        height: 170px;
        width: 100%;
      }

      .field-group {
        display: flex;
        flex-direction: column;
      }

      #page-cadastro form .field-group .field + .field {
        margin-left: 0;
      }
      
      #page-cadastro form .field-group input + input {
        margin-left: 0;
      }
    
      #map {
        width: 100%;
        height: 300px;
      }

    .items-grid {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .items-grid img {
        height: 250px;
    }

    #page-cadastro form button {
        font-size: 20px;
        width: 100%;
        margin: 30px auto;
    }

    .items-grid li {
        margin-bottom: 46px;
    }

}